<%#
	Argon is a clean HTML5 theme for LuCI. It is based on luci-theme-material Argon Template

	luci-theme-argon
	Copyright 2020 Jerrykuku <jerrykuku@qq.com>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/jerrykuku/luci-theme-argon/issues

	luci-theme-material: 
	Copyright 2015 Lutty Yang <lutty@wcan.in>
	
	Agron Theme
	https://demos.creative-tim.com/argon-dashboard/index.html 

	Licensed to the public under the Apache License 2.0 
-%>

<% local ver = require "luci.version" %>
</div>
<footer class="mobile-hide">
	<div>
		<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=5308028&auto=0&height=32"></iframe><br>
            <a href="https://Tender-wifi.taobao.com" target=_blank><font size="3px">
			<b><font color="red"> 技术保障 · 售后无忧 · 加盟代理 · 值得信赖 </b></font>
	    </a>
		<br><br>
			<a href="https://Tender-wifi.taobao.com" target=_blank><font color="blue">Powered By Tender-WIFI Team</font></a>
		<ul class="breadcrumb pull-right" id="modemenu" style="display:none"></ul>
	</div>
</footer>
</div>
</div>
<script>
	// thanks for Jo-Philipp Wich <jow@openwrt.org>
	var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
	var winHeight = $(window).height();
	$(window).resize(function () {
		var winWidth = $(window).width()
		if(winWidth < 600){
			var newHeight = $(this).height();
			var keyboradHeight = newHeight - winHeight;
			$(".ftc").css("bottom", keyboradHeight + 30);
		}
	})
</script>
<script type="text/javascript">L.require('menu-argon')</script>
</body>
</html>
